*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg, purple, tomato);
    display: flex;
    place-items: center;
}
h1{
    font-size: 50px;
    font-family: monospace;
    letter-spacing: .5em;
    color: #505050;
    text-shadow: 0 0 5px #000;
}